.slider {
  position: relative;

  img {
    width: 100%;
  }
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(155 186 191 / 53%);
    z-index: 1;
  }
  .slider-contant {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    top: 300px;
    color: white;
    text-align: center;
    z-index: 2;
    p {
      color: #015963;
      font-weight: 500;
    }
    h1 {
      color: #015963;
      font-weight: 700;
      font-size: clamp(40px, 10vw, 70px);
    }
    .slider-btn {
      display: flex;
      button:hover {
        font-size: 40px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      }
      .slider-find {
        background-color: #05acb1;
        color: white;
        margin: 30px 50px;
      }
      .slider-read {
        background-color: white;
        border: solid 1px black !important;
        margin: 30px 0;
      }
      .btns {
        font-size: 30px;
        font-weight: 500;
        padding: 20px;
        border: none;
        outline: none;
        border-radius: 7px;
        cursor: pointer;
        transition-duration: 0.5s;
      }
    }
  }
}
